.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px;
}

.topnav.responsive a {
    font-size: 200%;
}

.tabSchedule {
    font-size: 200%;
}

.tablesize td {
    font-size: 250%;
}

.ti_news {
    font-size: 300%;
    float: left;
}